.posts-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.category-section {
    margin-bottom: 50px;

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__title {
        font-size: 20px;
    }

    &__link {
        font-size: 14px;
        color: $color-muted;
    }
}